html {
    --base-font: 'Avenir', 'Avenir Next','Helvetica Neue','Segoe UI', 'Verdana', sans-serif;
    --monospace-font: 'Consolas', 'Monaco', 'Courier New', monospace;

    --heading: var(--base-font);
    --body: var(--base-font);
    --monospace: var(--monospace-font);

    --font-size: 1.6rem;
    --line-height: 2.4rem;

    --breakpoint: 900px;
    --gutter-width: 2.4rem;
    --border-radius: 1.2rem;

    --link: var(--indigo3);
    --link--visited: var(--violet4);
    --link--hover: var(--indigo2);
    --link--active: var(--magenta4);

    font-size: 62.5%;
    height: 100%;
}

@media screen and (min-width: 45rem){
    html {
        font-size: 78.125%;
    }
}

body {
    color: var(--blue1);
    font-family: var(--base-font);
    font-size: var(--font-size);
    line-height: var(--line-height);
    min-height: 100%;
    position: relative;

    margin: 0 auto;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: var(--font-size);
    line-height: var(--line-height);
}

.layout-toggle {
    position: fixed;
    bottom: 10px;
    right: 10px;
}


img {
    max-width: 100%;
    max-height: 100%;
}

.content {
    display: grid;
}

.content__blockquote {
    max-width: 65rem;
    border: 0px solid;
    border-image: linear-gradient(
        var(--orange4) 25%,
        var(--flame4) 50%,
        var(--red3) 75%,
        var(--red2) 100%
    ) 10;
    border-left-width: .6rem;
    padding-left: 2.4rem;
}

.content__text {
    border: .6rem solid;
    border-image: linear-gradient(
        var(--teal4) 25%,
        var(--blue4) 50%,
        var(--indigo3) 75%,
        var(--indigo2) 100%
    ) 10;
    max-width: 55rem;
    padding: 2.4rem;
}

.content--description-example {
    grid-template-areas: "title title" "context graphic";
}

.content--description-example__heading {
    grid-area: title;
}

.content--description-example__context {
    grid-area: context;
    text-align: left;
    margin-right: 2.4rem;
}

.content--description-example__graphic {
    grid-area: graphic;
}

.content--graphic__graphic--alternative {
	filter: grayscale(1);
}
.content--code__sample {
	overflow: auto;
}
.content--code__preview {
	width: 100%;
}
