html {
    --font-size: 2.8rem;
    --line-height: 4rem;
    --crazy-background: linear-gradient(217deg, hsla(15, 100%, 50%, 1), hsla(15, 95%, 50%, 0) 100%),
                linear-gradient(127deg, hsla(200, 100%, 50%, 1), hsla(200, 100%, 50%, 0) 100%),
                linear-gradient(336deg, hsla(120, 100%, 50%, 1), hsla(120, 100%, 50%, 0) 100%);
    background: var(--crazy-background);
}

html,
body {
    overflow: hidden;
}

.content {
    background: var(--white);

    box-sizing: border-box;
    height: 100vh;
    width: 100vw;

    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    --size-small: scale(.5);
    --size-normal: scale(1);
    --offset-right: translateX(200%);
    --offset-none: translateX(0);
    --offset-left: translateX(-200%);
    transform: 
        var(--size-small)
        var(--offset-right);
}

.content.slide-in {
	--offset-direction: var(--offset-right);
	animation: slide 1000ms ease-in-out forwards;
}

.content.slide-out {
	--offset-direction: var(--offset-left);
	animation: slide 1000ms ease-in-out reverse forwards;
}

.content.slide-in-back {
	--offset-direction: var(--offset-left);
	animation: slide 1000ms ease-in-out forwards;
}

.content.slide-out-back {
	--offset-direction: var(--offset-right);
	animation: slide 1000ms ease-in-out reverse forwards;
}

@keyframes slide {
    0% {
        transform:
            var(--size-small)
            var(--offset-direction);
    }

    33% {
        transform:
            var(--size-small)
            var(--offset-direction);
    }

    66% {
        transform:
            var(--size-small)
            var(--offset-none);
    }

    100% {
        transform:
            var(--size-normal)
            var(--offset-none);
    }
}

/*
 *
 * Content Layout Presentation
 *
 # * * * */

.content {
    place-items: center;
    place-content: center;
    padding: 2.4rem;
}

.content--title {
    grid-template-rows: 62vh 38vh;
    text-align: center;
}

.content__heading {
    align-self: center;
    color: transparent;
    background: var(--crazy-background);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 6rem;
    line-height: 7.2rem;
    text-align: center;
}

.content__heading:last-child {
    grid-row: 1 / -1;
}

.content__tagline {
    align-self: start;
}


.content--graphic {
    grid-template-rows: 10vh 90vh;
    grid-template-columns: 80vw;
    text-align: center;
}

.content--graphic__graphic {
    
}

.content--graphic__graphic:first-child {
    grid-row: 1 / -1;
}


.content--description-example {
    grid-template-rows: 10% 90%;
    grid-template-columns: 38% 62%;
}

.content--description-example__heading {
}

.content--description-example__context {
}

.content--description-example__graphic {
}


.survey-results {
    background: rgb(35, 40, 64) !important;
    color: rgb(154, 198, 201) !important;
}


.content--code {
    grid-template-areas:
        "header header"
        "sample preview";
    grid-template-rows: 10% 90%;
    grid-template-columns: 60% 40%;
}

.content--code__heading {
    grid-area: header;
}

.content--code__sample {
    grid-area: sample;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    font-size: 1.6rem !important;
    line-height: 2rem;
    overflow: scroll;
}

.content--code__sample--html {
    position: relative;
    overflow: hidden;
}
.content--code__sample--html::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(-90deg, 
        rgb(255, 255, 255),
        rgba(255, 255, 255, 0)
    );
    width: 40%;
}

.content--code__sample:last-child {
    grid-column: 1 / -1;
}

.content--code__preview {
    grid-area: preview;
    max-height: 100%;
    border: none;
}

#links-js-2,
#svg-markup {
    font-size: 2.5rem;
    line-height: 3.5rem;
}
