src-tauri/binaries/
.pup.json-tmp
logs/
tmp/

src-owncast/owncast-install-backups/
src-owncast/owncast/

src-plan98/plan98-plan98/
src-rust9p/rust-9p-master/
src-rust9p/orange-portal/*
src-rust9p/blue-portal/*
